**/.git
**/.svn
**/.hg
**/node_modules
**/.next

.eslintrc.json
.prettierignore
.prettierrc
readme.md
next.config.mjs
package.json
package-lock.json
postcss.config.mjs
tailwind.config.ts
tsconfig.json